.navbar-default {
  background: transparentize($white, .2);
}

.navbar-brand {
  height: auto !important;
}

.dropdown:hover {
  .dropdown-menu {
    display: block;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    border-radius: $radius;
    box-shadow: none !important;
    margin: -24px 0 0 !important;
    border: 1px solid $php-purple-light;
    &:before {
      content: " ";
      position: absolute;
      top: -20px;
      left: 50%;
      border: 10px solid transparent;
      border-bottom-color: $php-purple-light;
      transform: translateX(-50%);
    }
  }
}

.navbar-nav > li > a {
  margin: 37px 5px 38px 5px;
  padding: 10px 15px;
  border-radius: $radius;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: $black !important;
  transition: all .3s;
  &:hover {
    color: $white !important;
    background: $php-purple-light !important;
  }
}

@media(max-width: 639px) {
  .navbar-brand {
    max-width: 100px;
    img {
      max-width: 100%;
    }
  }
  .navbar-toggle {
    padding: 16px 15px !important;
  }

  .navbar-nav > li > a {
    margin: 0;
    padding: 10px 15px;
  }
}