
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Color Variables
$white: #FFF;
$off-white: #ECEDEE;
$darker-white: #CBCBCB;

$lighter-grey: #DBDBDB;
$grey: #9B9B9B;
$darker-grey: #6b6b6b;

$lighter-black: #3b3b3b;
$off-black: #1b1b1b;
$black: #000;

$php-purple-light: #8892BF;
$php-purple-dark: #4F5B93;
$php-purple-faint: lighten($php-purple-dark, 30%);

$radius: 4px;